<!DOCTYPE html>
<html>
  <head>
    <title>Shorty</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>

  <body class="container">

      <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>

      <% if current_admin %>
      <li class="nav-item">
        <a class="nav-link" href="/admins/sign_out" data-method='delete' >Sign out</a>
      </li>
      <% else %>
      <li class="nav-item">
        <a class="nav-link" href="/admins/sign_in">Sign In</a>
      </li>
      <% end %>

      <li class="nav-item">
        <a class="nav-link" href="/urls/new">Short It</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/urls/retrieve">Retrieve It</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/urls">All Urls</a>
      </li>            
    </ul>

    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>

    <%= yield %>
  </body>
</html>
